#categories_menu {
	margin-top: 32px;
	div {
		gap: 8px;
		padding: 12px 16px;
		@include align-items-center;
		border-radius: 16px;
		cursor: pointer;
		transition: all 0.2s ease;
	}
}
#products {
	margin-bottom: 50px;
	.category_title {
		@include font-styles($size: 28px, $weight: 700);
		margin: 50px 0 20px;
	}
}
.product {
	box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
	border-radius: 16px;
	.info {
		margin-top: 12px;
		padding: 0 18px 16px 16px;
		.title {
			@include font-styles(18px, 24px, 600);
			margin-bottom: 7px;
		}
		.description {
			@include font-styles(14px, 18px, 500);
			color: #48535b;
			margin-bottom: 19px;
		}
		.action {
			@include element-between;
			.price {
				@include font-styles($size: 18px, $weight: 600);
				span {
					@include font-styles($size: 14px);
				}
			}
		}
	}
}
.modal {
	border-radius: 16px 0px 0px 16px;
	background-color: #fff;
	width: 80%;
	@include center-absolute-element;
}
