.main {
	min-height: 80vh;
	&.active {
		min-height: 50vh;
	}
	.banner {
		height: rem(400);
		position: relative;
		.text {
			position: absolute;
			top: rem(300);
			left: rem(200);
			font-size: rem(72);
			font-weight: 600;
			z-index: 9;
			color: #fff;

			@include breakpoint(xl) {
				font-size: rem(60);
			}

			@include breakpoint(lg) {
				font-size: rem(48);
			}
		}
	}

	.img {
		width: 50%;
	}
}
